* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
}

body {
  margin-bottom: 80px;
  background: linear-gradient(to top left, #2893b4, #299918);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 7rem);
  background-color: rgb(69, 94, 109);
  border-radius: 15px;
  padding: 15px;
  height: 40rem;
  column-gap: 2px;
  row-gap: 2px;
  border: solid black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.stretch {
  grid-column: span 2;
  background-color: rgb(250, 142, 236);
  color: rgb(17, 16, 16);
}

.stretch:hover {
  background-color: white;
}

.screen {
  grid-column: 1 / -1;
  background-color: rgb(206, 200, 200);
  height: 7rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  border-right: solid black;
  border-left: solid black;
  border-top: solid black;
}

button {
  font-size: 2rem;
  border: solid rgb(59, 58, 58);
  color: rgb(41, 37, 37);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(90, 79, 79);
}

.equals {
  background-color: rgb(17, 84, 146);
  color: rgb(17, 16, 16);
}

.equals:hover {
  background-color: white;
}

.operator {
  background-color: rgb(17, 84, 146);
  color: rgb(17, 16, 16);
}

.operator:hover {
  background-color: white;
}

.ce {
  background-color: rgb(250, 142, 236);
  color: rgb(17, 16, 16);
}

.ce:hover {
  background-color: white;
}

.history {
  font-size: 25px;
  color: rgb(99, 94, 94);
}

.input {
  font-size: 32px;
  color: rgb(73, 70, 70);
}

/* animation: blinkingBackground 1s infinite;

@keyframes blinkingBackground {
  0% {
    background-color: #10c018;
  }
  25% {
    background-color: #1056c0;
  }
  50% {
    background-color: #ef0a1a;
  }
  75% {
    background-color: #254878;
  }
  100% {
    background-color: #04a1d5;
  } */
